<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Article details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="" alt="">
    <ion-card-header>
      <ion-text color="danger">
        <ion-label>
          <h3>jgjgjgj</h3>
        </ion-label>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <p>
        lorememeneh bb dfjdfn
      </p>
    </ion-card-content>
    <ion-button expand="full" shape="round">Acheter</ion-button>
  </ion-card>
</ion-content>
